/* 
Copyright 2022 The Bot Ran Pa Team

This software is licensed under the MIT License. See the LICENSE file at 
the root of the repository for more information.
 */

/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Gimmick';
	src: url(/fonts/FCGimmickR.ttf) format('truetype');
}

@font-face {
	font-family: 'Gimmick';
	src: url(/fonts/FCGimmickB.ttf) format('truetype');
	font-weight: bold;
}
